*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(18, 3, 54);
    color: white;
}
header{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(28, 7, 66);
    border: 2px solid rgb(2, 23, 29);
    position: sticky;
    top:0px;
}
.left-nav{
    font-size:25px;
    margin-right: 200px;
}
.right-nav ol{
    display: flex;
    gap: 30px;
    list-style: none;
}
.right-nav ol li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.right-nav ol li a:hover{
    color: rgb(133, 133, 184);
    font-size: 1.02rem;
}